
.section {
  margin-top: 83px;
}

.headerRow {
  display: flex;
  align-items: baseline;
  padding-left: 119px;
}

.line {
  display: block;
  width: 203px;
  height: 3px;
  background-color: #ff7a00;
}

.lineLeft {
  margin-right: 269px;
}

.title {
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
}

.lineRight {
  margin-left: 268px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 99px;
  width: 100%;
}

/* ПЛИТКА */
.tileBlock {
  margin-left: 119px;
  position: relative;
  width: 387px;
  height: 384px;
}


.masonryBlock {
  position: relative;
  width: 386px; 
  height: 384px;
  margin-left: 20px; 
}

.finishingBlock {
  position: relative;
  width: 387px;
  height: 384px;
  margin-left: 21px;
}

.contour {
  display: block;
  position: absolute;
  top: 34px;
  left: 37px;
  width: 350px;
  height: 350px;
  box-sizing: border-box;
  border: 3px solid #ff7a00;
  border-radius: 10px;
  z-index: 1;
}
.overlay {
  position: absolute;
  top: 290px;
  left: 0;
  width: 360px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  
  z-index: 3;
}

.photo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
 
  z-index: 2; 
}

.overlayMasonry {
  position: absolute;
  top: 292px;
  left: 0;
  width: 360px;
  height: 68px;
  background-color: rgba(0, 0, 0, 0.5);
  
  z-index: 3;
}


.overlayFinishing {
  position: absolute;
  top: 294px;
  left: 0;
  width: 360px;
  height: 66px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}


.categoryTitle {
  position: absolute;
  top: 316px; 
  bottom: auto;
  left: 0;
  width: 360px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: #fff;
  text-transform: uppercase;
  z-index: 4;
}


.titleMasonry {
  position: absolute;
  top: 316px; 
  left: 0;
  width: 360px;
  text-align: center;
  z-index: 4;
}


.finishingBlock .categoryTitle {
  bottom: auto;
  top: 316px;
}

.contourMasonry {
  display: block;
  position: absolute;
  top: 34px;
  left: 36px;
  width: 350px;
  height: 350px;
  box-sizing: border-box;
  border: 3px solid #ff7a00;
  border-radius: 10px;
  z-index: 1;
}


.contourFinishing {
  display: block;
  position: absolute;
  top: 34px;
  left: 37px;
  width: 350px;
  height: 350px;
  box-sizing: border-box;
  border: 3px solid #ff7a00;
  border-radius: 10px;
  z-index: 1;
}

.roofingBlock {
  position: relative;
  width: 387px;
  height: 384px;
  margin-top: 72px; 
  margin-left: 119px; 
}

.contourRoofing {
  display: block;
  position: absolute;
  top: 34px;
  left: 37px;
  width: 350px;
  height: 350px;
  box-sizing: border-box;
  border: 3px solid #ff7a00;
  border-radius: 10px;
  z-index: 1;
}


.plumbingBlock {
  position: relative;
  width: 386px;
  height: 384px;
  margin-top: 72px;
  margin-left: 20px;
}

.contourPlumbing {
  display: block;
  position: absolute;
  top: 34px;
  left: 36px;
  width: 350px;
  height: 350px;
  box-sizing: border-box;
  border: 3px solid #ff7a00;
  border-radius: 10px;
  z-index: 1;
}

.categoryTitle {
  position: absolute;
  top: 316px; /* Вместо bottom: 20px */
  bottom: auto;
  left: 0;
  width: 360px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: #fff;
  text-transform: uppercase;
  z-index: 4;
}


.electricityBlock {
  position: relative;
  width: 386px;
  height: 384px;
  margin-top: 72px;
  margin-left: 21px; 
}


.contourElectricity {
  display: block;
  position: absolute;
  top: 34px;
  left: 36px;
  width: 350px;
  height: 350px;
  box-sizing: border-box;
  border: 3px solid #ff7a00;
  border-radius: 10px;
  z-index: 1;
}








