
.priceSection {
  margin-top: 115px; 
}




.title {
  display: block;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center; 
  
}

.tabContainer {
  display: flex;
  align-items: center; 
  margin: 69px auto 0 auto;
  width: 807px;
  height: 57px;
  background-color: rgba(61, 61, 61, 1); 
  box-sizing: border-box;
}

/* Элемент-разделитель строго по спецификации border из Figma */
.separator {
  height: 52px;
  border-left: 6px solid rgba(49, 49, 49, 1); /* Задаем толщину линии через border */
  background: none;
  flex-shrink: 0; /* Запрещаем флексу деформировать линию */
}

/* Базовый стиль для каждого отдельного таба */
.tabItem {
  flex: 1;                 /* Заставляем каждый спан занять равную 1/5 часть плашки */
  display: flex;
  align-items: center;
  justify-content: center; /* Центрируем текст строго посередине своей вкладки */
  height: 100%;            /* Растягиваем на всю высоту плашки (57px) */
  
  /* Стили текста из макета */
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;       /* Запрещаем случайное выделение текста при кликах */
}



.tabItem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: 6px solid rgba(49, 49, 49, 1);
}






