.leftContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 35px;
}

.about {
  width: 100%;
  box-sizing: border-box;
  margin-top: 128px;
}

.about__container {
  width: 100%;
  max-width: 1440px;
  height: 528px;
  margin: 0 auto;
  box-sizing: border-box;
  background: url('./images/about-bg.png') center/cover no-repeat;
  
 
  display: flex;
  align-items: flex-start;
}

.title {
  font-weight: 400;
  font-size: 70px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: #ff7a00;
  display: block;
  margin-left: 119px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 488px;       
  margin-left: 119px;
}


.item:nth-of-type(1) {
  margin-top: 48px;   
}

.text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #ffffff;
}

.line {
  width: 488px;
  height: 2px;
  background-color: #ff7a00;
  display: block;
}

.rightContent {
width: 320px;
  height: 320px;
  border-radius: 50%;
  margin-top: 93px;
  margin-left: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  outline: 3px solid #ff7a00;
  outline-offset: -3px;
}


.circleTop {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 36px;
}

.circleNumber {
  font-weight: 700;
  font-size: 100px;
  line-height: 122px;
  color: #ff7a00;
  margin-top: 38px;
 
}

.circleBottom {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  width: 224px; 
  margin-top: auto; 
  margin-bottom: 54px;
}