.customNextArrowContainer,
.customPrevArrowContainer {
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customPrevArrowContainer {
  left: 20px;
}

.customNextArrowContainer {
  right: 13px;
}

.customNextArrowContainer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-top: 1px solid #ff7a00;
  border-right: 1px solid #ff7a00;

  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center center;
}

.customPrevArrowContainer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-top: 1px solid #ff7a00;
  border-right: 1px solid #ff7a00;

  transform: translate(-50%, -50%) rotate(-135deg);
  transform-origin: center center;
}

.customPrevArrowContainer::before {
  left: 20px;
  transform: translate(-13px, -50%) rotate(-135deg);
}

.customNextArrowContainer::before {
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);

  right: 20px;
  left: auto;
  transform: translate(13px, -50%) rotate(45deg);
}



.customNextArrowContainer:hover::before,
.customPrevArrowContainer:hover::before {
  border-color: #ffa500;
}
