.header { 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  color: #ffffff; 
} 

.nav {
  margin-left: 46px;
  width: auto;
}

.nav ul {
  display: flex;
  flex-direction: row;
  gap:  49px; 
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
}

.contactsBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 241px;
  white-space: nowrap
}

ul li { 
  font-size: 16px; 
  font-weight: 500; 
  font-stretch: normal; 
  font-style: normal; 
  line-height: normal; 
  letter-spacing: 0.8px; 
  text-align: left; 
  color: #ffffff; 
} 

.header__logo { 
  margin-left: 91px; 
  flex-shrink: 0; 
} 



.callback { 
  margin-top: 6px; 
  color: #ff7a00; 
} 

.navLink a { 
  color: inherit; 
  text-decoration: none; 
  display: inline-block; 
} 

.navLink a:hover { 
  opacity: 0.8; 
}

.burgerBtn {
  display: none;
}

/* RESPONS--------------------------------------------------- */
.burgerBtn {
  display: none; 
}
@media (max-width: 1366px) {
 
 
  .header__logo { margin-left: 86px; width: 176px; height: auto; }
  .nav { margin-left: 44px; }
  .nav ul { gap: 65px; max-width: max-content; }
  .navLink { font-size: 15px; }

  .contactsBlock {
    
    margin-left: 171px; 
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  .header__logo {
    margin-left: 76px;
    width: 155px;
    height: auto;
  }

  .nav {
    margin-left: 38px;
  }

  .nav ul {
    gap: 58px;
  }

  .navLink {
    font-size: 13px; 
  }

  .contactsBlock {
    margin-left: 200px;
    font-size: 13px; 
  }
}

@media (max-width: 1024px) {
    .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  /* Левая часть: логотип по пропорции */
  .header__logo {
    flex: none;
    margin-left: 65px; 
    width: 132px;
    height: auto;
  }

  
   .navLink {
    display: block;
   }
  /* Центральная часть:*/
   .nav {
    margin-left: 33px; 
  }
  

    .nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 49px; 
  }

  /* Блок контактов: 
  .contactsBlock {
    margin-left: 0;
    font-size: 11px; 
    white-space: nowrap;
  }

  /* Правая часть:*/


  .burgerBtn {
    flex: none;
    display: none;
    position: relative; 
    
    width: 21px;  
    height: 2px;  
    background-color: #ff7a00;
    
    margin-right: 65px;
  }

 /* Общие стили для верхней и нижней линий */
  .burgerBtn::before,
  .burgerBtn::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%; 
    height: 2px;
    background-color: #ff7a00;
  }

 
  .burgerBtn::before {
    top: -6px;
  }

  
  .burgerBtn::after {
    top: 6px;
  }

 


}

@media (max-width: 1000px) {
  
  .burgerBtn {
    display: block;
  }

   .header__logo {
    margin-left: 63px; 
    width: 129px; 
    height: auto;
  }
   

  .contactsBlock {
    margin-left: 0;
  }

  
  .navLink {
   
  }

   

   .nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .navLink {
    display: block; /* Возвращаем ссылки на экран внутри выезжающей панели */
  }

  .burgerBtn {
    position: absolute; /* Кнопка привязывается к координатам серого блока */
    top: 30px; /* Аккуратный отступ сверху внутри панели */
    right: 30px; /* Прижимаем её к правому верхнему углу выезжающей плашки */
    cursor: pointer;
    z-index: 1000; /* Кнопка всегда будет поверх серого фона */
  }


  .nav.open {
    right: 0; 
  }

}


@media (max-width: 768px) {
 
  .nav ul {
    display: contents;
  }

  
  .navLink {
    display: none;
  }

  
  .contactsBlock {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  

 

.header {
    justify-content: space-between;
  }

  .contactsBlock {
  
    margin-left: 0;
}
}

.header ~ * {
  display: none !important;
}