.header { 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  color: #ffffff; 
} 

.nav { 
  margin-left: 46px; 
  width: auto; 
} 

.nav ul { 
  display: flex; 
  flex-direction: row; 
  gap: 69px; 
  list-style: none; 
  margin: 0; 
  padding: 0; 
  width: auto; 
} 

ul li { 
  font-size: 16px; 
  font-weight: 500; 
  font-stretch: normal; 
  font-style: normal; 
  line-height: normal; 
  letter-spacing: 0.8px; 
  text-align: left; 
  color: #ffffff; 
} 

.header__logo { 
  margin-left: 91px; 
  flex-shrink: 0; 
} 

.contactsBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  margin-left: 310px;
  white-space: nowrap;  
}

.callback { 
  margin-top: 6px; 
  color: #ff7a00; 
} 

.navLink a { 
  color: inherit; 
  text-decoration: none; 
  display: inline-block; 
} 

.navLink a:hover { 
  opacity: 0.8; 
}
/* RESPONS--------------------------------------------------- */
.burgerBtn {
  display: none; 
}

@media (max-width: 1200px) {
  

  .navLink {
    font-size: 13px; 
  }

  .contactsBlock {
    margin-left: 200px;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
 
  .nav ul {
    display: contents;
  }

  
  .navLink {
    display: none;
  }

  
  .contactsBlock {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .burgerBtn {
    display: flex;
    position: relative;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    
    
    background-image: linear-gradient(#ffffff, #ffffff);
    background-size: 100% 2px; 
    background-repeat: no-repeat;
    background-position: center;
  }

 .burgerBtn::before,
  .burgerBtn::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  
  .burgerBtn::before {
    top: 0;
  }

 
  .burgerBtn::after {
    bottom: 0;
  }

.header {
    justify-content: space-between;
  }

  .contactsBlock {
  
    margin-left: 0;
}
}

.header ~ * {
  display: none !important;
}