
span {
  color: #fff
}
section{margin-bottom: 96px;}



.slider_container {
  
  max-width: 640px; 
  

}
.slogan_block {
  
  
  padding-right: 20px; 
}

.construction_repair_gomel {
  font-family: Roboto;
  font-size: 60px;
  font-weight: bold;
}
button {
  box-sizing: border-box;
  border: 3px solid rgba(255, 122, 0, 1);
  border-radius: 10px;
  background: rgba(28, 29, 30, 1);
  color: #fff;
  font-style: SemiBold;
  font-size: 16px;
  font-weight: 600}

.future_together {
  font-size: 22px;
  font-weight: 400;
}
.main_content_block {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between; 
  width: 100%; 
}

.slider_container {
  width: 40%; 
}



.slider {
  width: 640px; 
  position: relative; 
}

.slideImage {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}


.slick-dots {
  position: absolute; 
  bottom: 20px; 
  left: 50%; 
  transform: translateX(-50%); 
  display: flex; 
  justify-content: center; 
  list-style: none; 
  padding: 0;
  margin: 0;
}

.slick-dots li button {
  width: 10px; 
  height: 10px; 
  border-radius: 50%; 
  background-color: rgba(255, 255, 255, 0.5); 
  border: none; 
  cursor: pointer; 
  margin: 0 5px; 
  padding: 0;
}

.slick-dots li.slick-active button {
  background-color: white; 
}

.main_content_block {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between; 
  width: 100%; 
}

.slogan_block {
  
  
  padding-right: 20px; 
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  width: 28.7px;
  height: 57.5px;
  border: solid 1px #ff7a00;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; 
  color: #ff7a00; 
  background-color: rgba(0, 0, 0, 0.5); 
}

.nextArrow {
  right: 20px; 
}

.prevArrow {
  left: 20px; 
}

