

.sliderWrapper {
  position: relative;
  
  
   
  overflow: hidden;
  
  
}


.sliderWrapper .slick-slider {
  width: 640px; 
  margin: 0 auto; 
  
  
}


.slideItem {
   
  height: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.slideItem img {
  display: block;
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

