/* components/MySlider.module.css */

.sliderWrapper {
  position: relative;
  /* Убираем фиксированную ширину, чтобы слайдер мог сам определить свою ширину */
  /* width: 80%; */
  /* margin: 0 auto; */ /* Центрирование будет происходить автоматически, если слайдер имеет фиксированную ширину */
  overflow: hidden;
  /* Если вы хотите задать высоту слайдеру, то лучше задать ее здесь */
  /* height: 400px; */
}

/* Стиль для самого Slick Slider */
.sliderWrapper .slick-slider {
  width: 640px; /* Задаем ширину слайдера равной ширине слайдов */
  margin: 0 auto; /* Центрируем слайдер */
  /* Если у вас есть проблемы с черным экраном, попробуйте убрать overflow: hidden; */
  /* overflow: hidden; */
}

/* Стиль для каждого слайда */
.slideItem {
  /* width: 640px; */ /* Ширина слайда уже задана для .slick-slider, поэтому здесь не обязательно */
  height: 400px; /* Или другая высота, которую вы хотите */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Чтобы изображение не выходило за пределы слайда */
}

.slideItem img {
  display: block;
  width: 100%; /* Чтобы изображение заполняло ширину слайда */
  height: 100%; /* Чтобы изображение заполняло высоту слайда */
  object-fit: cover; /* Масштабирует изображение, сохраняя пропорции */
}

