.footer {
  box-sizing: border-box;
  height: 168px;
  display: flex;
}

.columnLeft,
.columnCenter,
.columnRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.columnLeft,
.columnRight {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.columnCenter {
  align-items: center;

  justify-content: end;
    margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.phoneRow {
  display: flex;
  align-items: flex-start;
  margin-top: 39px; 
  margin-left: 121px;
}

.phoneIcon {
  display: block;
}

.phoneNumber {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #ffffff;

  margin-left: 29px;
  margin-top: 10px;
}

.emailRow {
  display: flex;
  align-items: flex-start;
  margin-top: 13px;
  margin-left: 121px;
}

.docIcon {
  display: block;
}

.emailText {
  display: block;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #ffffff;

  margin-left: 29px;
  margin-top: 14;
}

.owner {
  display: block;
  margin-top: 30px;    
  margin-right: 185px;
}

.unp {
  display: block;
  margin-top: 19px;   
  margin-right: 128px;
}

.address {
  display: block;
  margin-top: 19px;   
  margin-right: 134px; 
}